# Do not store sensitive information in this env file.
# Environment variables must be prefixed with WXT_ to be accessible in the browser extension.
WXT_BASE_CLIENT_URI = "http://localhost:3000",
WXT_BASE_SERVER_URI = "http://localhost:3000/api"
