@import "../../lib/tailwind-config/styles.css";

html,
body {
  margin: 0px;
  height: 600px;
  width: 390px;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface-primary);
  color: var(--text-primary);
  margin: 0;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: medium;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Custom extension scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-tertiary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
